<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'AdminPanel/css/style.css' %}">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/all.min.css">

    <title>Admin Dashboard</title>

  </head>

  <body>
    <!-- =============== Navigation ================ -->
    <div class="container">
      <div class="navigation">
        <ul>
          <li>
            <a href="#">

              <span class="title">ADMIN</span>
            </a>
          </li>

          <li>
            <a href="/">
              <span class="icon">
                <ion-icon name="home-outline"></ion-icon>
              </span>
              <span class="title">Dashboard</span>
            </a>
          </li>

          <li>
            <a href="{% url 'analytics' %}">
              <span class="icon">
                <ion-icon name="newspaper-outline"></ion-icon>
              </span>
              <span class="title">Analytics</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="notifications-outline"></ion-icon>
              </span>
              <span class="title">Notification</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span class="icon">
                <ion-icon name="laptop-outline"></ion-icon>
              </span>
              <span class="title">Assignment</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- ================= Main Topbar ================ -->
      <div class="main">
        <div class="topbar">
          <div class="toggle">
            <ion-icon name="menu-outline"></ion-icon>
          </div>

          <div class="search">
            <label>
              <input type="text" placeholder="Search here">
              <ion-icon name="search-outline"></ion-icon>
            </label>
          </div>

          <div class="user">
            <img src="assets/imgs/customer01.jpg" alt>
          </div>
        </div>

        <!-- ==================== Status ====================== -->
        <div class="cardBox">
          <div class="card">
            <a href>
              <div>
                <div class="numbers">436</div>
                <div class="cardName">Total Applications</div>
              </div>
            </a>
            <div class="iconBx">
              <ion-icon name="newspaper-outline"></ion-icon>
            </div>
          </div>

          <div class="card">
            <a href>
              <div>
                <div class="numbers">80</div>
                <div class="cardName">CSE</div>
              </div>
            </a>
            <div class="iconBx">
              <ion-icon name="laptop-outline"></ion-icon>
            </div>
          </div>

          <div class="card">
            <a href>
              <div>
                <div class="numbers">284</div>
                <div class="cardName">Mech.</div>
              </div>
            </a>

            <div class="iconBx">
              <ion-icon name="cog-outline"></ion-icon>
            </div>
          </div>

          <div class="card">
            <a href>
              <div>
                <div class="numbers">72</div>
                <div class="cardName">Elec.</div>
              </div>
            </a>

            <div class="iconBx">
              <ion-icon name="bulb-outline"></ion-icon>
            </div>
          </div>

          <div class="card">
            <a href>
              <div>
                <div class="numbers">72</div>
                <div class="cardName">Elec.</div>
              </div>
            </a>

            <div class="iconBx">
              <ion-icon name="bulb-outline"></ion-icon>
            </div>
          </div>

          <div class="card">
            <a href>
              <div>
                <div class="numbers">72</div>
                <div class="cardName">Elec.</div>
              </div>
            </a>

            <div class="iconBx">
              <ion-icon name="bulb-outline"></ion-icon>
            </div>
          </div>

          <div class="card">
            <a href>
              <div>
                <div class="numbers">72</div>
                <div class="cardName">Elec.</div>
              </div>
            </a>

            <div class="iconBx">
              <ion-icon name="bulb-outline"></ion-icon>
            </div>
          </div>

          <div class="card">
            <a href>
              <div>
                <div class="numbers">72</div>
                <div class="cardName">Elec.</div>
              </div>
            </a>

            <div class="iconBx">
              <ion-icon name="bulb-outline"></ion-icon>
            </div>
          </div>
        </div>

        <!-- ================== Application Details ====================== -->

        <div class="details">
          <div class="recentOrders">
            <div class="cardHeader">
              <h2>Analytics</h2>
              <a href="#" class="btn">View All</a>
            </div>

            <table>
              <thead>
                <tr>
                  <td>Id</td>
                  <td>Name</td>
                  <td>Date</td>
                  <td>Stream Assigned</td>
                  <td>Action</td>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>01</td>
                  <td>Ratan TATA</td>
                  <td></td>
                  <td>None</td>
                  <td>
                    <button class="accept">Accept</button>
                    <button class="reject">Reject</button>
                  </td>
                </tr>

                <tr>
                  <td>01</td>
                  <td>Ratan TATA</td>
                  <td></td>
                  <td>None</td>
                  <td>
                    <button class="accept">Accept</button>
                    <button class="reject">Reject</button>
                  </td>
                </tr>

                <tr>
                  <td>01</td>
                  <td>Ratan TATA</td>
                  <td></td>
                  <td>None</td>
                  <td>
                    <button class="accept">Accept</button>
                    <button class="reject">Reject</button>
                  </td>
                </tr>

                <tr>
                  <td>01</td>
                  <td>Ratan TATA</td>
                  <td></td>
                  <td>None</td>
                  <td>
                    <button class="accept">Accept</button>
                    <button class="reject">Reject</button>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>

          <!-- <div class="slideshow">
            <div class="slide">
              <img src="image1.jpg" alt="Slide 1">
              <div class="caption">Slide 1 Caption</div>
            </div>
            <div class="slide">
              <img src="{% static 'AdminPanel/img/customer02.jpg' %}" alt="Slide 2">
              <div class="caption">Slide 2 Caption</div>
            </div>
            <div class="slide">
              <img src="image3.jpg" alt="Slide 3">
              <div class="caption">Slide 3 Caption</div>
            </div>
          </div>
         -->

          <!-- =========== Scripts =========  -->
          <script src="{% static 'AdminPanel/js/main.js' %}"></script>
          <script src="{% static 'AdminPanel/js/jquery.js' %}"></script>
          <script src="{% static 'AdminPanel/js/popper.js' %}"></script>
          <script src="{% static 'AdminPanel/js/bootstrap.js' %}"></script>

          <!-- ====== ionicons ======= -->
          <script type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
          <script nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        </body>
      </html>
